.igPost {
    font-family: "Roboto", sans-serif;
    font-weight: 100;
    font-style: normal;
    width: 550px;
    height: 800px;
    padding: 0px;
    border: 1px solid black;
    margin: 50px;
}

.post-header {
    display: flex;
    width: 550px;
    height: 100px;
}

.header-html-icon {
    font-size: 50px;
    padding: 20px 0 0 20px;
}

.header-text {
    display: flex;
    flex-direction: column;
    line-height: 1%;
    padding: 10px 0 0 10px;
}

.header-ellipsis-icon {
    font-size: 40px;
    padding: 20px 25px 0 385px;
}

.post-img {
    display: flex;
    width: 550px;
    height: 350px;
}

.post-icons-row {
    display: flex;
    justify-content: row;
    width: 550px;
    height: 75px;
    font-size: 40px;
}

.heart-comment-plane-icon {
    display: flex;
    padding: 20px 0 0 10px;
}

.bookmark-icon {
    float: right;
    padding: 20px 0 0 375px;
}

.post-body {
    width: 550px;
    height: 75px;
}

.likedBy {
    padding: 20px 0 0 10px;
}

.caption {
    width: 550px;
    height: 200px;
    padding: 0 0 0 10px;
}